.ai-site-table,
.ai-site-table :global(.ant-spin-nested-loading),
.ai-site-table :global(.ant-spin-container) {
  height: 100%;
}

.ai-site-table :global(.ant-spin-container) {
  display: flex;
  flex-direction: column;
}

.ai-site-table :global(.ant-spin-container) :global(.ant-table) {
  flex: 1;
  height: 0px;
}

.ai-site-table :global(.ant-table-container),
.ai-site-table :global(.ant-table-content),
.ai-site-table :global(.ant-table-content) table {
  height: 100%;
}